@import "/src/styles/global.scss";

.support{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 5vw;
    background-color: black;
    border-radius: 50%;
    position: fixed;
    z-index: 100;
    color: white;
    right: 2%;
    bottom: 5%;
    transition: background-color 0.8s ease, img 0.8s ease;

    @include mq{
        width: 80px;
        height: 80px;
    }

    img {
        position: relative;
        height: 50%;
        width: 50%;
        filter: brightness(1); 
        transition: filter 0.3s ease;
    }

    &:hover {
        background-color: white;

        img {
            filter: brightness(0);
        }
    }
}