@import "/src/styles/global.scss";

.home {
  background: url("/public/Pages/Home.jpg") no-repeat center;
  background-size: cover;
  height: 90.7vh;
  max-height: 945px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  color: $c-white;

  display: flex;
  align-items: center;
  justify-content: center;

  &__center {
    display: flex;
    flex-direction: column;

    text-align: center;
    margin: 0 405px;
  }

  &__button {
    margin-top: 30px;
    width: auto;
    padding: 27px 30px;
  }
}