@import "/src/styles/global.scss";

.home {
  background: url("/public/Pages/Home.jpg") no-repeat center;
  background-size: cover;
  height: 100vh;
  max-height: 1024px;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  
  color: $c-white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  @include mq($tablet-large) {
    max-height: none;
    height: 92vh;
  }

  &__center {
    display: flex;
    flex-direction: column;

    text-align: center;
    margin: 0 405px;
    
    @include mq($tablet-large) {
      margin: 0 85px;
    }

    @include mq() {
      margin: 0 20px;
      gap: 10px;
    }
  }

  &__button {
    margin-top: 30px;
    width: auto;
    padding: 27px 30px;

    @include mq($tablet-large) {
      padding: 15px 60px;
      width: fit-content;
      margin: 30px auto 0 ;
    }
  }
}