@import "/src/styles/global.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $c-white;

  .left {
    display: flex;
    align-items: center;
    gap: 16px;

    .header__logo {
      width: 118px;
      height: 39px;
      object-fit: contain;
    }
  
    .dropdown {
      background-color: $c-black;
      color: $c-white;
      padding: 10px;
      cursor: pointer;
      position: relative;
      user-select: none;
      
      @include mq($tablet-large) {
        padding: 20px;
      }

      @include mq() {
        padding: 10px;
      }
      
      h3 {
        line-height: 100%;

        @include mq($tablet-large) {
          font-size: 35px;
        }
      
        @include mq() {
          font-size: 20px;
        }
      }

      &__active {
        display: flex;
        align-items: center;
        gap: 4px;
        text-transform: capitalize;
        
        @include mq($tablet-large) {
          gap: 10px;
        }
      }
  
      &__arrow {
        width: 20px;
        height: 21px;
        
        @include mq($tablet-large) {
          width: 34px;
          height: 34px;
        }
        
        @include mq {
          width: 20px;
          height: 21px;
        }
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        background-color: $c-black;
        bottom: 1px;
        left: 0;
        right: 0;
        z-index: 100;
        padding: 5px 10px 10px;
        transform: translateY(100%);
        text-transform: capitalize;

        @include mq($tablet-large) {
          padding: 10px 20px 20px;
          gap: 20px;
        }
        
        @include mq() {
          padding: 10px 10px 20px;
          gap: 15px;
        }  
      }
    }
  }

  .center {
    display: flex;
    gap: 40px;

    @include mq($laptop) {
      display: none;
    }

    .link--active {
      text-decoration: underline;
    }
  }

  .right {
    display: flex;
    gap: 20px;
    align-items: center;

    @include mq($laptop) {
      display: none;
    }

    .socials {
      display: flex;
      align-items: center;
      gap: 10px;

      &__link {
        transition: opacity .3s ease;

        @include hover {
          opacity: .6;
        }
      }
    }
  }

  .nav {
    @include mq($laptop, ">") {
      display: none;
    }

    &__button {
      width: 34px;
      height: 34px;
      cursor: pointer;

      &-icon {
        width: 100%;
        height: 100%;

        &--close {
          display: none;
        }
      }
    }

    &--active {
      .nav__button {
        &-icon {
          &--open {
            display: none;
          }
          
          &--close {
            display: block;
          }
        }
      }
    }

    &-body {
      position: fixed;
      top: 115px;
      left: 0;
      right: 0;
      padding-top: 30px;
      padding-bottom: 30px;

      display: flex;
      flex-direction: column;
      background-color: #fff;

      @include mq {
        top: 80px;
      }

      .nav-list {
        display: flex;
        flex-direction: column;
        gap: 18px;

        .link--active {
          text-decoration: underline;
        }
      }

      .socials {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-top: 30px;

        .header__button {
          width: 240px;
          text-align: center;
          padding: 20px;
        }

        &-wrapper {
          display: flex;
          gap: 10px;
        }
      }

    }
  }
}
