@import "/src/styles/global.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: $c-white;

  .left {
    display: flex;
    align-items: center;
    gap: 16px;

    .header__logo {
      width: 118px;
      height: 39px;
      object-fit: contain;
    }
  
    .dropdown {
      background-color: $c-black;
      color: $c-white;
      padding: 10px;
      cursor: pointer;
      position: relative;
      user-select: none;
  
      &__active {
        display: flex;
        align-items: center;
        gap: 4px;
        text-transform: capitalize;
      }
  
      &__arrow {
        width: 20px;
        height: 21px;
      }

      &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        background-color: $c-black;
        bottom: 1px;
        left: 0;
        right: 0;
        padding: 5px 10px 10px;
        transform: translateY(100%);
        text-transform: capitalize;

      }
    }
  }

  .center {
    display: flex;
    gap: 40px;

    @include mq($tablet-large ) {
      display: none;
    }

    .link--active {
      text-decoration: underline;
    }
  }

  .right {
    display: flex;
    gap: 20px;
    align-items: center;

    @include mq($tablet-large ) {
      display: none;
    }


    .socials {
      display: flex;
      align-items: center;
      gap: 10px;

      &__link {
        transition: opacity .3s ease;

        @include hover {
          opacity: .6;
        }
      }
    }
  }
}
