@import "/src/styles/global.scss";

.how-works {
  &__title {
    margin-top: 91px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 36px;
    color: $c-white;
    background: url("/public/Pages/HowWorks.webp") no-repeat center;

    @include mq($tablet-large) {
      margin-top: 120px;
    }
    
    @include mq() {
      margin-top: 80px;
    }
  }

  &__list {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include mq($tablet-large) {
      margin-bottom: 120px;
    }
    
    @include mq() {
      margin-bottom: 80px;
    }
  }
}