@import "/src/styles/global.scss";

.price {
  &__title {
    margin-top: 91px;
    background: url('/Pages/Price.jpg') center no-repeat;
    color: $c-white;
    padding: 30px 0;
    text-align: center;
  }

  &__text {
    text-align: center;
    margin: 50px 100px 0 100px;
  }

  .table {
    margin: 72px 0 140px;

    &__title {
      margin-bottom: 16px;
    } 

    &-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .table-item {
      padding: 17px 10px;
      width: 570px;
      display: flex;
      justify-content: space-between;
      border: 1px solid $g-70;

      &__text {
        max-width: 290px;
      }

      &__price- text {
        max-width: 290px;
      }
    }
  }
}